@import "tailwindcss";

:root {
  /* Kita ubah variabel ini ke nuansa merah agar match */
  --love-red: #ff3333;
}

body {
  /* GANTI background ke #050000 agar tidak belang saat loading */
  background-color: #050000;
  color: #f5f5f5;
  /* Font Utama Montserrat */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Mencegah scroll samping */
  min-height: 100vh;
}

/* Helper Class untuk Carattere (opsional, tapi bagus untuk punya) */
.font-script {
  font-family: "Carattere", cursive;
}

html {
  scroll-behavior: smooth;
}

/* Ubah warna blok teks (selection) jadi Merah Maroon */
::selection {
  background: rgba(128, 0, 0, 0.6);
  color: white;
}

/* Scrollbar Custom (Biar estetik dark mode) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050000;
}
::-webkit-scrollbar-thumb {
  background: #500000;
  border-radius: 4px;
}